{
  "PROJECT_ALPHA_CATALOG_STAGING_ACCESS_AUD": "<PROJECT_ALPHA_CATALOG_STAGING_ACCESS_AUD>",
  "PROJECT_ALPHA_PORTAL_STAGING_ACCESS_AUD": "<PROJECT_ALPHA_PORTAL_STAGING_ACCESS_AUD>",
  "DEDICATED_CLIENT_PORTAL_STAGING_ACCESS_AUD": "<DEDICATED_CLIENT_PORTAL_STAGING_ACCESS_AUD>",
  "CLIENT_STAGING_RESTRICTED_MAPBOX_PUBLIC_TOKEN": "<CLIENT_STAGING_RESTRICTED_MAPBOX_PUBLIC_TOKEN>",
  "OPERATIONS_STAGING_RESTRICTED_MAPBOX_PUBLIC_TOKEN": "<OPERATIONS_STAGING_RESTRICTED_MAPBOX_PUBLIC_TOKEN>",
  "STAGING_EMAIL_DOMAIN": "<STAGING_EMAIL_DOMAIN>",
  "STAGING_TRIAGE_EMAIL": "<STAGING_TRIAGE_EMAIL>",
  "STAGING_ACCESS_GROUP_ID": "<STAGING_ACCESS_GROUP_ID>",
  "STAGING_ACCESS_GROUP_NAME": "<STAGING_ACCESS_GROUP_NAME>"
}
