OPERATIONS_SESSION_SECRET=replace-with-32-or-more-random-bytes
PUBLIC_SHARE_ORIGIN=http://localhost:8788
DELIVERY_TOKEN_SECRET=replace-with-a-different-32-or-more-random-bytes
DELIVERY_ACCESS_CODE_PEPPER=replace-with-another-32-or-more-random-bytes
AUDIT_IP_SECRET=replace-with-a-different-32-or-more-random-bytes
PROJECT_ALPHA_API_KEY=
PROJECT_ALPHA_DRAFT_QUOTE_API_KEY=
PROJECT_ALPHA_DRAFT_QUOTE_HMAC_SECRET=
DELIVERY_SHARE_DIRECTORY_RECIPIENTS_ENABLED=false
CLIENT_PORTAL_IDENTITY_DENYLIST_ENABLED=false
CLIENT_PORTAL_DENY_POLICY_MANAGEMENT_ENABLED=false
AUTHENTICATED_DELIVERY_GRANTS_ENABLED=false
STREAM_ACCOUNT_ID=
STREAM_API_TOKEN=
SUA_GATEWAY_USER=
SUA_GATEWAY_PASSWORD=
